/*
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/

@font-face {font-family: "SB Sans Text";
  src:  url("/src/assets/fonts/SB Sans Text/c68e21ad1a10803b1ef491fd0392b067.woff2") format("woff2"), /* chrome firefox */
        url("/src/assets/fonts/SB Sans Text/c68e21ad1a10803b1ef491fd0392b067.woff") format("woff"), /* chrome firefox */
        url("/src/assets/fonts/SB Sans Text/c68e21ad1a10803b1ef491fd0392b067.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
        url("/src/assets/fonts/SB Sans Text/c68e21ad1a10803b1ef491fd0392b067.svg#SB Sans Text") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "SB Sans Display Semibold";
  src:  url("/src/assets/fonts/SB Sans Display Semibold/2d130488c7306881cf236b40ea2a1020.woff2") format("woff2"), /* chrome firefox */
        url("/src/assets/fonts/SB Sans Display Semibold/2d130488c7306881cf236b40ea2a1020.woff") format("woff"), /* chrome firefox */
        url("/src/assets/fonts/SB Sans Display Semibold/2d130488c7306881cf236b40ea2a1020.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
        url("/src/assets/fonts/SB Sans Display Semibold/2d130488c7306881cf236b40ea2a1020.svg#SB Sans Display Semibold") format("svg"); /* iOS 4.1- */
}


*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --main-color: #5989e9;
  --color-bg: white;
  font-family: "SB Sans Text", sans-serif;
  --pad: 10%;
  --hovered:#21a038;
  --font-size-big:calc(60px + 36 * (100vw - 320px) / 780);
  --font-size-small:calc(35px + 29 * (100vw - 320px) / 780);
}

button {
  cursor: pointer;
  border: none;
  background: inherit;
}

.input-form {
  outline: none;
  border: 1px solid rgb(167, 167, 167);
  padding: 10px;
  border-radius: 5px;
}
.button-form {
  background: #21a038;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-size: 16px;
}
.errors li {
  list-style-type: none;
}
.errors {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
}

.toForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 100px);
}

.wrap-page {
  padding: 50px var(--pad) 0;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 2400px;
 
}


.sign_btn {
  padding: 8.5px 20px;
  border: none;
  background: linear-gradient(90deg, rgba(66, 227, 180, 1) 0%, rgba(0, 135, 205, 1) 100%);
  border-radius: 10px;
  font-size: 20px;
  color: white;
}

.auth_btn {
  margin: 0 60px;
  border: none;
  background: none;
  font-size: 20px;
}

/* body{
    padding: 0 10%;
} */
/* .auth_btn {
  
    border: none;
    background: none;
    font-size: 20px;
    color:white;
    margin-left: 40px;
  } */

@media (max-width: 1100px) {
  *,
  html,
  body {
    --pad: 2%;
  }
}

